* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #537968;
  font-family: "Poppins", sans-serif;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 63px;
  -webkit-box-shadow: 0 4px 38px 0;
          box-shadow: 0 4px 38px 0;
}

.form-container .form-h1-container {
  background-color: #2b7051;
  width: 100%;
  border-radius: 63px 63px 0 0;
  text-align: center;
  padding: 2rem;
}

.form-container .form-h1-container .form-h1 {
  color: #e2fb82;
  font-size: 60px;
  font-weight: 600;
}

.form-container .form-text-container {
  padding: 2rem 8rem 1rem 8rem;
}

.form-container .form-text-container .form-text {
  text-align: center;
  color: #2b7051;
  font-weight: 500;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

.form-container form .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.form-container form label {
  color: #2b7051;
  font-weight: 600;
  padding-bottom: 0.5rem;
}

.form-container form label span {
  color: #a34444;
}

.form-container form label span#optional {
  color: #2b7051;
  font-style: italic;
}

.form-container form input {
  border: none;
  background-color: rgba(204, 246, 44, 0.22);
  height: 2rem;
  padding-left: 1rem;
  font-family: "Poppins";
}

.form-container form textarea {
  border: none;
  background-color: rgba(204, 246, 44, 0.22);
  padding: 1rem;
  font-family: "Poppins";
  resize: none;
}

.form-container form .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
}

.form-container form .btn-container button {
  background-color: #2b7051;
  color: #e2fb82;
  padding: 1rem 1rem;
  width: 50%;
  font-size: 30px;
  border: none;
  border-radius: 63px;
  font-weight: 600;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form-container form .btn-container button:hover {
  background-color: #537968;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */