$background-color: #537968;
$primary: #2b7051;
$secondary: #e2fb82;
$text-color: #2b674c;
$asterisk-color: #a34444;
$text-field-color: rgba(204, 246, 44, 0.22);

* {
  box-sizing: border-box;
}

*,
body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #537968;
  font-family: "Poppins", sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 63px;
  box-shadow: 0 4px 38px 0;

  .form-h1-container {
    background-color: $primary;
    width: 100%;
    border-radius: 63px 63px 0 0;
    text-align: center;
    padding: 2rem;

    .form-h1 {
      color: $secondary;
      font-size: 60px;
      font-weight: 600;
    }
  }

  .form-text-container {
    padding: 2rem 8rem 1rem 8rem;

    .form-text {
      text-align: center;
      color: $primary;
      font-weight: 500;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;

    .input-field {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }

    label {
      color: $primary;
      font-weight: 600;
      padding-bottom: 0.5rem;

      span {
        color: $asterisk-color;

        &#optional {
          color: $primary;
          font-style: italic;
        }
      }
    }

    input {
      border: none;
      background-color: $text-field-color;
      height: 2rem;
      padding-left: 1rem;
      font-family: "Poppins";
    }

    textarea {
      border: none;
      background-color: $text-field-color;
      padding: 1rem;
      font-family: "Poppins";
      resize: none;
    }

    .btn-container {
      display: flex;
      justify-content: center;
      padding: 1rem;

      button {
        background-color: $primary;
        color: $secondary;
        padding: 1rem 1rem;
        width: 50%;
        font-size: 30px;
        border: none;
        border-radius: 63px;
        font-weight: 600;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

        &:hover {
          background-color: $background-color;
          cursor: pointer;
        }
      }
    }
  }
}
